<div fxLayout="row" fxLayoutAlign="space-evenly none" fxLayout.sm="column" fxLayout.xs="column" class="col-container">
  <div fxFlex="50" class="col">
    <div class="color-dark"></div>
    <div class="color-light">
      <span class="title">Hello</span>
      <p class="pres-paragraph">
        I’m <b>Félix Boisselier</b>, a design engineer from the Universtity of Technology of Compiègne currently working at BeAM (Strabourg, FR) and starting a PhD in Additive Manufacturing and Artificial Intelligence in September.
      </p>
      <p class="pres-paragraph">
          Feel free to take a look at my work !
      </p>
    </div>
  </div>
  <div class="col">
      <img src="assets/img/profilepic.jpg">
  </div>
</div>
